<?xml version="1.0"?>

<config>
    <modules>
        <AW_Scratch>
            <version>0.1.2</version>
        </AW_Scratch>
    </modules>
    <global>
        <blocks>
            <aw_scratch>
                <class>AW_Scratch_Block</class>
            </aw_scratch>
        </blocks>
        <events>
            <sales_order_place_after>
                <observers>
                    <aw_scratch_model_observer>
                        <type>singleton</type>
                        <class>AW_Scratch_Model_Observer</class>
                        <method>example</method>
                    </aw_scratch_model_observer>
                </observers>
            </sales_order_place_after>
        </events>

        <models>
            <aw_scratch>
                <class>AW_Scratch_Model</class>
                <resourceModel>aw_scratch_resource</resourceModel>
            </aw_scratch>
            <aw_scratch_resource>
                <class>AW_Scratch_Model_Resource</class>
                <entities>
                    <scratch>
                        <table>scratch_cards</table>
                    </scratch>
                </entities>
            </aw_scratch_resource>
        </models>
        <resources>
            <aw_scratch_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </aw_scratch_read>
            <aw_scratch_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </aw_scratch_write>
            <scratch_table_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <setup>
                    <module>AW_Scratch</module>
                </setup>
            </scratch_table_setup>
        </resources>
        <helpers>
            <aw_scratch>
                <class>AW_Scratch_Helper</class>
            </aw_scratch>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <aw_scratch>
                    <file>aw_scratch.xml</file>
                </aw_scratch>
            </updates>
        </layout>
        <routers>
            <AW_Scratch>
                <use>standard</use>
                <args>
                    <module>AW_Scratch</module>
                    <frontName>aw_scratch</frontName>
                </args>
            </AW_Scratch>
        </routers>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aw_options>
                                            <title>Store Hello World Module Section</title>
                                        </aw_options>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>